* {
  box-sizing: border-box;
  border: 2px solid rgba(243, 179, 40, 0.2);
}
:root {
  --main-blue: #572dd6;
}
/* * */
.big-heading {
  /* font-family: Roboto; */
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.frame {
  padding: 0 165px;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: #fff;
  text-decoration: none;
}
.p-txt {
  color: #fff;
  /* font-family: Roboto; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  padding: 0 165px;

  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.button {
  width: 270px;
  height: 69px;
  background: var(--main-blue);
  border-radius: 20px;
  color: #fff;
}
.card {
  border-radius: 20px;
}
/* header */
.header__burger {
  display: none;
  z-index: 5;
}
.header__burger-ico span {
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  border: 0;
}
.header__burger-ico > :not(:last-child) {
  margin-bottom: 5px;
}
.header__burger-ico {
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 22px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 165px 30px 165px;
  align-items: center;
  max-height: 90px;
  background-color: var(--main-blue);
}
.header__menu {
  display: flex;
  color: #fff;
}
.header__logo {
  display: flex;
  color: #fff;
  max-height: 30px;
}
.header__link:not(:last-child) {
  margin-right: 60px;
}
.header__link {
  font-family: "Roboto", sans-serif;

  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}
.full-screen__main-paragraph {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
}

/* main */
.main__full-screen {
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    #555681 0%,
    #212133 100%
  );
}
.full-screen__content-box {
  width: 465px;
}
.full-screen__content-box * {
  margin: 0;
}
.full-screen__main-heading {
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1.5rem;
}
.full-screen__main-paragraph {
  margin-bottom: 3rem;
}
/* plus */
.plus__heading {
  color: #2e2b44;
}
.plus__paragraph {
  color: #666666;
}
.plus__descr {
  margin-bottom: 30px;
}
.plus__property-content,
.plus__property-item {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.plus__property-ico {
  width: 80px;
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  background-color: var(--main-blue);
  margin-right: 30px;
}
.plus__property-descr {
  color: #666666;
}
/* info */
.main__info {
  background-color: #212133;
}
.card__name {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
}
.card__name::before,
.card__name--courses::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.card__text {
  color: #85859b;
}
.info__card {
  height: 360px;
  padding: 0 10px;
  padding-top: 180px;
  position: relative;
}
.info__card .card__descr {
  height: 90%;
  /* overflow: auto; */
  min-height: 105px;
  max-height: 160px;
}
.simplebar-content-wrapper {
  overflow: auto;
}

.simplebar-scrollbar::before {
  background-color: #120545;
  border: 2px solid #0e002d;
}
/* courses */
.courses__card:nth-child(-n + 2) {
  margin-bottom: 30px;
}
.courses__heading {
  color: #212133;
}
.courses__card {
  padding: 180px 30px 30px;
  height: 480px;
  background-color: #edf0f9;
  position: relative;
}
.card__descr--courses {
  display: flex;
  height: 100%;
  flex-direction: column;

  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.card__name--courses {
  color: #212133;
}

/* footer */
.footer {
  background-color: #2e2b44;
}
.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
}
